{
    "presets": [
      [
        "env",
        {
          "targets": {
            "browsers": [
              "ie >= 11"
            ]
          },
          "exclude": ["transform-async-to-generator", "transform-regenerator"],
          "modules": false,
          "loose": true
        }
      ]
    ],
    "env": {
      "commonjs": {
        "presets": [
          [
            "env",
            {
              "loose": true
            }
          ]
        ],
        "plugins": [
          ["transform-es2015-modules-commonjs", { "loose": true }]
        ]
      },
      "rollup": {
        "plugins": [
          "external-helpers"
        ]
      }
    }
  }